@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored"
                  OnClick="HandleClick"
                  OnFocusIn="HandleFocusIn"
                  OnFocusOut="HandleFocusOut">
    </BitTextField>
    @if (IsOpen)
    {
        <div>
            <div dialog="role">
                <div class="left">
                    <div class="header1">
                        <div class="month">
                            <span class="month-span"></span>
                        </div>
                        <div class="change-month">
                            <button class="up-previous">
                                <i class="up"></i>
                            </button>
                            <button class="down-next">
                                <i class="down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="weeks">
                            <tbody class="tbody">
                                <tr class="week-name">
                                    <th>S</th>
                                    <th>M</th>
                                    <th>T</th>
                                    <th>W</th>
                                    <th>T</th>
                                    <th>F</th>
                                    <th>S</th>
                                </tr>
                                @for (int weekIndex = 0; weekIndex < monthWeeks.GetLength(0); weekIndex++)
                                {
                                    if (monthWeeks[weekIndex, 0] == 0)
                                    {
                                        break;
                                    }
                                    <tr>
                                        @for (int dayIndex = 0; dayIndex < monthWeeks.GetLength(1); dayIndex++)
                                        {
                                            <button>
                                                <span>@monthWeeks[weekIndex, dayIndex]</span>
                                            </button>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="div"></div>
                <div class="right">
                    <div></div>
                    <button type="button">@GoToToday</button>
                </div>
            </div>
        </div>
    }
</div>