@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored"
                  OnClick="HandleClick"
                  OnFocusIn="HandleFocusIn"
                  OnFocusOut="HandleFocusOut">
    </BitTextField>
    @if (IsOpen)
    {
        <div>
            <div dialog="role">
                <div class="left">
                    <div class="header1">
                        <div class="month">
                            <span class="month-span"></span>
                        </div>
                        <div class="change-month">
                            <button class="up-previous">
                                <i class="up bit-icon"></i>
                            </button>
                            <button class="down-next">
                                <i class="down bit-icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="weeks">
                        </table>
                    </div>
                </div>
                <div class="div"></div>
                <div class="right">
                    <div></div>
                    <button type="button">@GoToToday</button>
                </div>
            </div>
        </div>
    }
</div>