@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored"
                  OnClick="HandleClick"
                  OnFocusIn="HandleFocusIn"
                  OnFocusOut="HandleFocusOut">
    </BitTextField>
    @if (IsOpen)
    {
        <div>
            <div dialog="role">
                <div></div>
                <div></div>
                <div>
                    <div></div>
                    <button type="button">@GoToToday</button>
                </div>
            </div>
        </div>
    }
</div>