@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored">

    </BitTextField>
</div>